wordpress_db_host: "${wordpress_db_host}"
wordpress_db_pass: "${wordpress_db_pass}"
wordpress_host: ${wordpress_host}
wordpress_memcached: ${wordpress_memcached}
wordpress_instance_id: ${wordpress_instance_id}